.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 96vh;
  color:rgb(255, 255, 255) ;
}

.homeleft {
  background-color: #333333; 

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
}
.homeright {
  padding: 2vmax;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #090909; 
}

.homeUser {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.homeUser > img {
  height: 3vmax;
  width: 3vmax;
  margin: 1vmax;
  border-radius: 100%;
  border: 3px solid rgb(255, 201, 201);
}

.homeUser:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 600px) {
  .home {
    grid-template-columns: 2fr 1fr;
  }

  .homeleft {
    padding: 0;
    min-height: 90vh;
  }
}
